<div class="d-flex flex-column">
  <!-- Navbar -->
  <ng-container *ngIf="layoutService.showNavbar()">
    <app-navbar [isSidebarCollapsed]="sidebarCollapsed"></app-navbar>
  </ng-container>
  
  <!-- Main content area -->
  <div class="d-flex" [style.marginTop]="layoutService.showNavbar() ? '60px' : '0'">
    <ng-container *ngIf="layoutService.showSidebar()">
      <app-sidebar (sidebarToggle)="onSidebarToggle($event)"></app-sidebar>
    </ng-container>
    <div
      class="flex-grow-1"
      [style.marginLeft]="layoutService.showSidebar() ? (sidebarCollapsed ? '80px' : '240px') : '0'">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>